/* ===========================================================
*
* Version: 	2.0.0
* Authors: 	Kev Simpson & Paulius Putna
* Company:  The Graphic Design House
*
=========================================================== */
/* ===========================================================

	# VARIABLES

=========================================================== */
/* ===========================================================

	# COLOURS

=========================================================== */
/* ===========================================================

	# BASE VALUES

=========================================================== */
/* ===========================================================

	# MEDIA QUERIES

=========================================================== */
/* ===========================================================

	# GRID SETTINGS

=========================================================== */
/* ===========================================================

	# MIXINS

=========================================================== */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* ===========================================================

  # RESET

=========================================================== */
@-ms-viewport {
  width: device-width;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* ===========================================================

  # JS access to breakpoints:
  https://github.com/JoshBarr/js-media-queries

=========================================================== */
/* ===========================================================

	# TEXT

=========================================================== */
html {
  font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
  color: #000000;
  font-family: "proxima-nova", Helvetica, Arial, Geneva, sans-serif;
  font-size: 1.6rem;
  -webkit-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  line-height: 1.4em;
}

p + p,
p + ul,
p + ol,
ul + p,
ol + p {
  margin-top: 1.4em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  padding-top: 1.4em;
}

em {
  font-style: italic;
}

::-moz-selection {
  background: #f8a6a6;
}

::selection {
  background: #f8a6a6;
}

::-moz-selection {
  background: #f8a6a6;
}
/* ===========================================================

	# HEADINGS

=========================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
.tera,
.giga,
.mega,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
  font-weight: bold;
  line-height: 1;
}

.tera {
  font-size: 4.10526rem;
  padding-bottom: 2.05263rem;
}

.giga {
  font-size: 3.64912rem;
  padding-bottom: 1.82456rem;
}

.mega {
  font-size: 3.24366rem;
  padding-bottom: 1.62183rem;
}

h1,
.alpha {
  font-size: 2.88325rem;
  padding-bottom: 1.44163rem;
}

h2,
.beta {
  font-size: 2.56289rem;
  padding-bottom: 1.28145rem;
}

h3,
.gamma {
  font-size: 2.27812rem;
  padding-bottom: 1.13906rem;
}

h4,
.delta {
  font-size: 2.025rem;
  padding-bottom: 1.0125rem;
}

h5,
.epsilon {
  font-size: 1.8rem;
  padding-bottom: 0.9rem;
}

h6,
.zeta {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.intro {
  font-size: 2.025rem;
  line-height: 1.3;
}
/* ===========================================================

	# ANCHOR

=========================================================== */
a {
  color: #ee3030;
  transition: color 0.3s ease;
}
a:hover, a:focus {
  color: #222;
}

/* ===========================================================

	# BUTTON

=========================================================== */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ===========================================================

	# LISTS

=========================================================== */
li {
  margin: 0.35em 3rem;
}
li:first-child {
  margin-top: 0;
}
li:last-child {
  margin-bottom: 0;
}
li > ul,
li > ol {
  margin-top: 0.35em;
}

/* ===========================================================

	# TABLE

=========================================================== */
table {
  border: 0.2rem solid transparent;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-bottom: 0.2rem solid transparent;
  padding: 1rem 2rem;
  text-align: left;
}

/* ===========================================================

	# FORMS

=========================================================== */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  background: none;
  border: 0.2rem solid transparent;
  border-radius: 0.6rem;
  padding: 1rem 1.5rem;
  transition: border 0.3s ease;
  width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #ee3030;
}

textarea {
  overflow: auto;
  resize: none;
}

label {
  display: block;
  margin-top: 1.4em;
  padding-bottom: 0.7em;
}
label:first-child {
  margin-top: 0;
}

label[for] {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

/* ===========================================================

	# PAGE

=========================================================== */
.o-page {
  background: #e9e9e9;
}

/* ===========================================================

	# WRAP

=========================================================== */
.o-wrap {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.o-wrap--center {
  margin-left: auto;
  margin-right: auto;
}

.o-wrap--small {
  max-width: 60rem;
}

.o-wrap--medium {
  max-width: 75rem;
}

.o-wrap--large {
  max-width: 92rem;
}

.o-wrap--x-large {
  max-width: 120rem;
}
/* ===========================================================

	# SECTION

=========================================================== */
.o-section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
/* ===========================================================

	# BUTTONS

=========================================================== */
.o-button {
  cursor: pointer;
  border-radius: 0.6rem;
  border: none;
  display: inline-block;
  line-height: 1;
  padding: 1.5rem 2rem;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}
.o-button:hover, .o-button:focus {
  color: #FFFFFF;
}
.o-button:focus {
  box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 0.1);
}

.o-button--primary {
  background: #ee3030;
  color: #FFFFFF;
}
.o-button--primary:hover, .o-button--primary:focus {
  background: #222;
}

.o-button--secondary {
  background: #222;
  color: #FFFFFF;
}
.o-button--secondary:hover, .o-button--secondary:focus {
  background: #222;
}

.o-button--disabled {
  background: transparent;
  color: #FFFFFF;
  cursor: not-allowed;
}

/* ===========================================================

  # TABLES

=========================================================== */
.o-table {
  width: 100%;
}

.o-table--scroll {
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
/* ===========================================================

	# FORMS

=========================================================== */
.o-input,
.o-select select,
.o-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.o-label__note {
  color: transparent;
  float: right;
  font-size: .8em;
  font-style: italic;
}

.o-select {
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.o-select select {
  position: relative;
  text-indent: .01px;
  text-overflow: '';
  z-index: 1;
}
.o-select select::-ms-expand {
  display: none;
}
.lt-ie10 .o-select select {
  padding-right: 1rem;
}
.o-select:after {
  background: #e9e9e9;
  border-radius: 0 0.4rem 0.4rem 0;
  box-sizing: border-box;
  color: transparent;
  content: '\25BE';
  display: block;
  height: calc( 100% - .2rem );
  padding: 1rem 1.5rem;
  position: absolute;
  pointer-events: none;
  right: 0.2rem;
  top: 0.2rem;
  z-index: 0;
}
.lt-ie10 .o-select:after {
  display: none;
}

:-moz-any(.o-select):after {
  z-index: 1;
}

.o-input + .button,
.o-select + .button,
.o-textarea + .button {
  margin-top: 2.8em;
}

/* ===========================================================

	# Title

=========================================================== */
.o-title {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-family: "proxima-nova-extra-condensed";
}
.o-title strong {
  color: #ee3030 !important;
}

/* ===========================================================

	# MEDIA

=========================================================== */
img {
  max-width: 100%;
  vertical-align: top;
}

.o-media img {
  width: 100%;
}

.o-media--video {
  position: relative;
}
.o-media--video:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}
.o-media--video iframe,
.o-media--video object,
.o-media--video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.o-media--large {
  margin: 4rem 0;
  position: relative;
}
/* ===========================================================

	# NAV

=========================================================== */
.c-page__header {
  background: #ebebeb;
}

.c-nav--main .c-nav__list {
  list-style: none;
}
.c-nav--main .c-nav__item {
  margin: 0;
}
/* ===========================================================

	# COVER

=========================================================== */
/* ===========================================================

	# Header

=========================================================== */
.c-header {
  color: #ccc;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background-color: #FFFFFF;
}

.c-header .o-logo-link {
  float: left;
}
.c-header .o-telno {
  float: right;
}
.c-header .o-logo-image {
  max-width: 22rem;
}
.c-header .telno {
  text-align: right;
  color: #b2b2b2 !important;
  margin-right: 5px;
}
.c-header .linkedin {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/bitmap/linkedin.gif);
  float: right;
  margin-left: 5px;
  margin-top: -3px;
}
.c-header .linkedin:hover {
  background-image: url(/assets/img/bitmap/linkedinhover.gif);
}
.c-header .twitter {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/bitmap/twitter.gif);
  float: right;
  margin-left: 5px;
  margin-top: -3px;
}
.c-header .twitter:hover {
  background-image: url(/assets/img/bitmap/twitterhover.gif);
}
.c-header .facebook {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/bitmap/facebook.gif);
  float: right;
  margin-left: 5px;
  margin-top: -3px;
}
.c-header .facebook:hover {
  background-image: url(/assets/img/bitmap/facebookhover.gif);
}
.c-header .google {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/assets/img/bitmap/google.gif);
  float: right;
  margin-left: 5px;
  margin-top: -3px;
}
.c-header .google:hover {
  background-image: url(/assets/img/bitmap/googlehover.gif);
}
/* ===========================================================

	# Footer

=========================================================== */
.c-footer {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  background-color: #FFFFFF;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}
.c-footer .o-logo__item {
  margin-bottom: 1rem;
}
.c-footer .o-address {
  float: left;
}
/* ===========================================================

	# ASPECT RATIOS

=========================================================== */
.c-ratio {
  position: relative;
  background-size: cover;
}
.c-ratio .c-ratio__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.c-ratio:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
}
.c-ratio.c-ratio--cover:after {
  /* 16:9 = 56.25% = calc(9 / 16 * 100%) */
  padding-bottom: 56.25%;
}
.c-ratio.c-ratio--tile:after {
  /* 1:1 */
  padding-bottom: 100%;
}

/* ===========================================================

	# Recaptcha

=========================================================== */
.recaptcha {
  margin-top: 2.8em;
}

#recaptcha_area .recaptchatable.recaptchatable.recaptchatable td,
#recaptcha_area .recaptchatable.recaptchatable.recaptchatable tr,
#recaptcha_area .recaptchatable.recaptchatable.recaptchatable th {
  vertical-align: top !important;
}

.recaptcha .fieldLabel {
  padding: 0 !important;
}

.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable {
  border: none !important;
  padding: 1rem;
  display: block;
  background-color: #ddd;
  border-radius: 0.6rem;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable input[type="text"] {
  background: #FFFFFF;
  border: 0.2rem solid transparent !important;
  border-radius: 0.6rem;
  padding: 1rem 1.5rem;
  transition: border 0.3s ease;
  width: 100%;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable input[type="text"]:focus {
  border-color: #ee3030;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_input_area {
  padding: 0 !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable td,
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable tr,
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable th {
  padding: 0 !important;
  vertical-align: top !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable td {
  padding-right: 1rem !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_image_cell {
  padding: 0 !important;
  padding-right: 1rem !important;
  background-color: transparent !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_only_if_privacy {
  font-size: 80% !important;
  float: none !important;
  display: block;
  margin-top: 0.7em !important;
  text-align: left !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_only_if_privacy a {
  color: #ee3030 !important;
  transition: background 0.3s ease, color 0.3s ease;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_only_if_privacy a:hover, .recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable .recaptcha_only_if_privacy a:focus {
  background-color: #ead6d6 !important;
}
.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable.recaptchatable tr:last-of-type td {
  margin-top: 1.4em !important;
  display: block !important;
}

/* ===========================================================

	# Umbraco forms

=========================================================== */
.contourNavigation {
  margin-top: 1.4em;
  text-align: right;
}
.contourNavigation .o-button {
  padding: 1.5rem 5rem;
}

p + .contour {
  margin-top: 1.4em;
}

.field-validation-error {
  color: #ee3030;
  font-size: 80%;
  font-style: italic;
}

.fileupload {
  position: relative;
  background-color: #ee3030;
  padding: 2rem;
  border-radius: 0.6rem;
}
.fileupload a {
  position: relative;
  z-index: 3;
}

.js .fileupload {
  text-align: center;
}
.js .fileupload input[type="file"] {
  z-index: 3;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.01;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  border: none;
  cursor: pointer;
}
.js .fileupload .fieldLabel {
  position: relative;
  z-index: 2;
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color: #ee3030;
  border-radius: 0.6rem;
}

.no-js .fileupload .fieldLabel {
  font-weight: 700;
}

/* ===========================================================

	# Upload form

=========================================================== */
.c-upload-form {
  margin-top: 1.4em;
}
.c-upload-form .fileupload + .text {
  font-style: 80%;
  color: #666;
  margin-top: 0.35em;
}

.contourField .fieldLabel {
  font-weight: 700;
  padding-bottom: 0.35em;
}
.contourField input[type="text"] {
  background-color: #FFFFFF;
}
.contourField .contourIndicator {
  color: #ee3030;
}

.contourField + .contourField {
  margin-top: 1.4em;
}
/* ===========================================================

	# Alert

=========================================================== */
.js .c-loader {
  display: inline-block;
}
.js .c-alert {
  width: 100%;
  background: #000000;
  color: #FFFFFF;
  border-radius: 0.6rem;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  max-width: 84rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 1.4em;
}
.js .c-alert--show {
  opacity: 1;
  visibility: visible;
}

.no-js .c-loader {
  display: none;
}

.sk-folding-cube {
  margin: 0 2rem 0 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee3030;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/* ===========================================================

	# SITEMAP

=========================================================== */
/* ===========================================================

  # OVERRIDES

=========================================================== */
.no-mustard * {
  transition: none !important;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hide-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.t-strong {
  font-weight: 700;
}

.t-small {
  font-size: 75%;
}

.o-strapline {
  margin-top: 1.4em;
}

/*# sourceMappingURL=style.css.map */
@media only screen and (min-width: 600px) {
  html {
    font-family: 'small';
  }
  .tera {
    font-size: 4.89444rem;
    padding-bottom: 2.44722rem;
  }

  .giga {
    font-size: 4.25603rem;
    padding-bottom: 2.12802rem;
  }

  .mega {
    font-size: 3.7009rem;
    padding-bottom: 1.85045rem;
  }

  h1,
  .alpha {
    font-size: 3.21817rem;
    padding-bottom: 1.60909rem;
  }

  h2,
  .beta {
    font-size: 2.79841rem;
    padding-bottom: 1.3992rem;
  }

  h3,
  .gamma {
    font-size: 2.4334rem;
    padding-bottom: 1.2167rem;
  }

  h4,
  .delta {
    font-size: 2.116rem;
    padding-bottom: 1.058rem;
  }

  h5,
  .epsilon {
    font-size: 1.84rem;
    padding-bottom: 0.92rem;
  }

  h6,
  .zeta {
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
  }

  .intro {
    font-size: 2.116rem;
  }
  .o-section {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .c-footer {
    text-align: right;
  }
  .c-footer .o-logo__item {
    display: inline-block;
    margin: 0 0 0 2rem;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-family: 'medium';
  }
  body,
  input,
  textarea,
  select,
  button {
    font-size: 1.6rem;
  }
  .tera {
    font-size: 5.8133rem;
    padding-bottom: 2.90665rem;
  }

  .giga {
    font-size: 4.94749rem;
    padding-bottom: 2.47375rem;
  }

  .mega {
    font-size: 4.21063rem;
    padding-bottom: 2.10532rem;
  }

  h1,
  .alpha {
    font-size: 3.58352rem;
    padding-bottom: 1.79176rem;
  }

  h2,
  .beta {
    font-size: 3.0498rem;
    padding-bottom: 1.5249rem;
  }

  h3,
  .gamma {
    font-size: 2.59558rem;
    padding-bottom: 1.29779rem;
  }

  h4,
  .delta {
    font-size: 2.209rem;
    padding-bottom: 1.1045rem;
  }

  h5,
  .epsilon {
    font-size: 1.88rem;
    padding-bottom: 0.94rem;
  }

  h6,
  .zeta {
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
  }

  .intro {
    font-size: 2.209rem;
  }
  .o-wrap {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .o-media--large {
    margin: 6rem 0;
  }

  .o-media--left,
  .o-media--right {
    margin-bottom: 1.4em;
    margin-top: 1.4em;
    width: 40%;
  }
  .o-media--left + *,
  .o-media--right + * {
    margin-top: 1.4em;
  }

  .o-media--left {
    float: left;
    margin-right: 1.4em;
  }

  .o-media--right {
    float: right;
    margin-left: 1.4em;
  }
  .c-nav--main .c-nav__item {
    display: inline;
  }
  .c-nav--main .c-nav__link {
    display: inline-block;
    padding: 1rem;
  }
  .c-upload-form {
    margin-top: 2.8em;
  }
  .c-upload-form .fileupload + .text {
    text-align: right;
  }
  .o-strapline {
    margin-top: 2.8em;
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-family: 'large';
  }
  .o-section {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
  .o-media--large {
    margin-left: -7.5%;
    width: 115%;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-family: 'x-large';
  }
  .o-media--large {
    margin-left: -15%;
    width: 130%;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-family: 'xx-large';
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx) {
  p {
    letter-spacing: 0.01em;
    word-spacing: 0.01em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .o-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 799px) {
  .o-table--stacked thead {
    display: none;
  }
  .o-table--stacked td {
    display: block;
  }
  .o-table--stacked td:before {
    content: attr(data-label) ": ";
    display: block;
    width: 100%;
  }
  .c-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .c-header .o-logo-image {
    float: left;
    max-width: 12rem;
  }
  .c-header .google,
  .c-header .twitter,
  .c-header .linkedin {
    display: none;
  }
}